/* ? Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* ? end Variables */

/* ? Start Global Rules */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* ? Start Global Rules */
/* ? start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    text-align: center;
}
.special-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px;
        font-size: 16px;
    }
}
/* ? end components */
/* ? Start Header */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
header .logo {
    width: 60px;
}
header nav {
    position: relative;
}
header nav:hover .icon span:nth-child(2) {
    width: 100%;
}
header nav:hover ul {
    display: revert;
}
header nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
header nav .icon span {
    background-color: #333;

    margin-bottom: 5px;
    width: 100%;
    height: 2px;
}

header nav .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

header nav ul {
    list-style: none;

    background-color: var(--section-background);
    position: absolute;
    right: 0;
    z-index: 1;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
header nav ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
header nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}
header nav ul li:not(:last-child) a {
    border-bottom: 1px solid #eee;
}
header nav ul li a:hover {
    padding-left: 25px;
}
/* ? end Header */
/* ? start landing section */
.landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing div {
    text-align: center;
}
.landing div h1 {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing div p {
    font-size: 19px;
    line-height: 1.8;
    width: 320px;
    max-width: 100%;
}
/* ? end landing section */
/* ? Start features */
.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}
.features figure {
    padding: 20px;
    text-align: center;
}
.features figure i {
    color: var(--main-color);
}
.features figure h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features figure p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* ? End feature */
/* ? start Services */
.services {
    padding: var(--section-padding) 0;
}
.services .services-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .image {
    text-align: center;
    position: relative;
}
.services .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
    right: 0px;
}
.services .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .services .image {
        display: none;
    }
}
/* ? end Services */
/* ? start Portfolio */
.portfolio {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content figure {
    background: #fff;
}
.portfolio .portfolio-content figure .info {
    padding: 20px;
}
.portfolio .portfolio-content figure .info h3 {
    margin: 0;
}
.portfolio .portfolio-content figure .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.portfolio .portfolio-content figure img {
    width: 100%;
}

/* ? end Portfolio */
/* ? Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* ? End About */
/*? start contact */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.contact .info {
    padding: var(--section-padding) 0;
    text-align: center;
}
.contact .label {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
}
.contact .link {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: var(--main-color);
    font-weight: 800;
}
.contact .social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
}
.contact .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/*? end contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
